/.phpunit.cache
/node_modules
/public/hot
/public/storage
/public/media/filepond_temp
/public/media/media_files
/public/media/media_models
/public/media/media_seeders
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
