

// Body
$body-bg: #F2F2F2;

// Styles
$header-height: 76px;

// Typography
$h1-font-family: 'Victor Serif 40';

$p-font-family: 'Inter Tight';
$p-font-size: 16px;

// COLORS
// Stone
$color-stone-30: rgba(221, 221, 213, 0.3);
$color-stone-60: #FFFFFF;
$color-stone-80: #F2F2F2;
$color-stone-100: #DDDDD5;
$color-stone-120: #C3C3B4;
$color-stone-140: #a8a894;

// Coal
$color-coal-20: rgba(17, 16, 16, 0.2);
$color-coal-60: rgba(17, 16, 16, 0.6);
$color-coal-80: rgba(17, 16, 16, 0.8);
$color-coal-90: #2F2D2D;
$color-coal-100: #111010;
$color-coal-120: #000000;

// Fern & Frog
$color-fern-40: rgba(94, 94, 62, 0.4);
$color-fern-80: rgba(94, 94, 62, 0.8);
$color-fern-100: #5e5e3e;
$color-fern-120: #5E573A;
$color-frog-100: #ABAB60;
$color-fern-60: #E3E396;

// MEDIA
$media-desktops-1200: 1200px;
$media-laptops-1024: 1024px;
$media-laptops-1024: 1024px;
$media-tablets-768: 768px;
$media-mobiles-480: 480px;







